@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Sen:wght@400;500;600;700;800&display=swap");
body{
  font-family: 'Nova Square', sans-serif;
font-family: 'Sen', sans-serif;
}
.header{padding: 20px 30px;
  // position: absolute;
  width: 100%;
  top: 0;
  background: #e9e9e9;
  z-index: 999;
  .nav-link{
    a{
      font-family: 'Sen', sans-serif;
      color: rgb(131, 131, 131);
      &:hover{
        color: rgb(36, 36, 36)
      }
    }
  }
}
.scrollContainer {
  overflow: hidden !important;
}

.traditional-wrap {
    position: relative;
    height: 100vh;
  width: 100%;
  display: flex;

  }
  
  
  section.traditional {
     
      position: absolute;
      bottom: 0;
      overflow: hidden;
      width:100%;
     border: 80px solid  white;
      height: 100vh;
      flex: 0 0 auto;
      transition: bottom .8s,opacity .8s cubic-bezier(.645, .045, .355, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      // &.traditional1 {
      //  z-index: 1;
      // }
      // &.traditional2 {
      //   z-index: 2;
      // }
      // &.traditional3 {
      //   z-index:3 ;
      // }
      // &.traditional4 {
      
      //   z-index: 4;
      //  }
      //  &.traditional5 {
      //    z-index: 5;
      //  }
      //  &.traditional6 {
      //    z-index:6;
      //  }
      h3 { position: absolute;
      left: 0%;
      mix-blend-mode: difference;
      bottom: 0;
        z-index: 1;  
        font-family: 'Nova Square', sans-serif;
        font-size: 14rem;
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: 300;
        letter-spacing: .1rem;
     
        @media (max-width:767px) {
          left: 50%;
           transform: translate(-50%, -50%);
          font-size: 4rem;
          
        }

      }
     
      img {
        position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      z-index: 0;
      }
  }
  