@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Sen:wght@400;500;600;700;800&display=swap");
body {
  overflow-x: hidden;
  position: relative;
  height: unset;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: touch;
}

.header {
  padding: 20px 30px;
  position: sticky;
  top: 0%;
  left: 0%;
  right: 0%;
  background-color: #232323;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 999;
  font-family: "Sen", sans-serif;
}
.header .logo-wrapper {
  color: rgb(255, 255, 255);
  font-size: 22px;
}
.header .nav-link a {
  position: relative;
  color: rgb(225, 225, 225);
}
.header .nav-link a::after {
  background: rgb(225, 225, 225);
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  bottom: -3px;
  transform-origin: 0% 100%;
  transition: all 0.35s;
  width: 10px;
  z-index: -1;
}
.header .nav-link a:hover {
  color: #c19a6b;
  transition: all 0.5s;
}
.header .nav-link a:hover::after {
  background: #c19a6b;
  width: 100%;
  transition: all 0.5s;
}

footer {
  padding-top: 50px;
  background: #232323;
}
footer #icon-list a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c19a6b;
  color: #c19a6b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer .copyright {
  padding: 40px;
  text-align: center;
  color: rgba(225, 225, 225, 0.5);
}
footer .copyright a {
  text-decoration: none;
  color: inherit;
}

.hero-section {
  width: 100%;
  height: 110vh;
  color: rgb(225, 225, 225);
  background: #232323;
  position: relative;
}
.hero-section .svg-1 {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 0;
  transform: translate(-50%, -50%);
  width: 20vw;
}
.hero-section .svg-1 .social-icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: inherit;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-section .svg-1 .social-icons a i {
  color: #232323;
  font-size: 24px;
}
.hero-section .svg-2 {
  position: absolute;
  bottom: 0;
  z-index: 10;
  right: 0;
  transform: translate(50%, 50%);
  width: 25vw;
}
.hero-section .profile-page {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Sen", sans-serif;
}
.hero-section .profile-page .display-pic {
  margin: 0 auto;
  position: relative;
  z-index: 888;
  overflow: visible;
}
.hero-section .profile-page .display-pic .img-holder {
  overflow: hidden;
  width: 300px;
  height: 300px;
  background-color: #616161;
  border-radius: 50%;
}
.hero-section .profile-page .display-pic .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero-section .profile-page .pri-text {
  margin-top: -70px;
  position: relative;
}
.hero-section .profile-page .pri-text::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -150px;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #eae7dc;
}
.hero-section .profile-page .pri-text h3 {
  font-weight: 400;
  text-align: start;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.hero-section .profile-page .pri-text h3 span {
  font-weight: 600;
  font-size: 3.5rem;
}
@media (max-width: 767px) {
  .hero-section .profile-page .pri-text h3 {
    text-align: center;
  }
  .hero-section .profile-page .pri-text::after {
    right: auto;
  }
}
.hero-section .profile-page .sec-text {
  margin-top: 230px;
  position: relative;
}
.hero-section .profile-page .sec-text::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -150px;
  width: 100%;
  height: 2px;
  border-bottom: 1px dashed #eae7dc;
}
.hero-section .profile-page .sec-text p {
  font-weight: 400;
  text-align: end;
  font-size: 1rem;
  text-transform: uppercase;
}
.hero-section .profile-page .sec-text p span {
  font-weight: 600;
  font-size: 3.5rem;
}
@media (max-width: 767px) {
  .hero-section .profile-page .sec-text p {
    text-align: center;
  }
  .hero-section .profile-page .sec-text::before {
    left: auto;
  }
}

.cards-section {
  padding-bottom: 100px;
  background: #232323;
}
.cards-section .cards-wrapper {
  height: 250px;
  width: 80%;
  margin: 0 auto;
}
.cards-section .cards-wrapper .card {
  align-items: center;
  gap: 15px;
  transition: all 1s ease;
  background: rgb(131, 131, 131);
  padding: 35px 10px 20px 10px;
}
.cards-section .cards-wrapper .card .card-icon {
  border-radius: 3px;
  width: 70px;
  height: 70px;
  color: #c19a6b;
  border: 2px solid #c19a6b;
  background-color: rgb(131, 131, 131);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cards-section .cards-wrapper .card .card-icon i {
  font-size: 26px;
}
.cards-section .cards-wrapper .card .card-text {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: rgb(36, 36, 36);
  position: relative;
}
.cards-section .cards-wrapper .card .card-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 2px;
  background-color: rgb(36, 36, 36);
  transition: all 250ms ease-in-out;
}
.cards-section .cards-wrapper .card .card-more {
  scale: 0;
  margin-top: 10px;
  transition: all 300ms ease-in-out;
}
.cards-section .cards-wrapper .card .card-more i {
  font-size: 20px;
}
.cards-section .cards-wrapper .card:hover {
  background: #c19a6b;
  transition: all 1s ease;
}
.cards-section .cards-wrapper .card:hover .card-icon {
  color: rgb(131, 131, 131);
  background-color: #c19a6b;
  border-color: rgb(131, 131, 131);
}
.cards-section .cards-wrapper .card:hover .card-text::after {
  width: 70%;
  transition: all 300ms ease-in-out;
}
.cards-section .cards-wrapper .card:hover .card-more {
  scale: 1;
  transition: all 300ms ease-in-out;
}

.work-section {
  width: 100%;
}
.work-section .main-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.work-section .main-box .img-holder {
  width: 100%;
  height: 550px;
}
.work-section .main-box .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-position: 10% 20%;
     object-position: 10% 20%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-section .main-box .img-holder .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 31, 29, 0.5);
}
.work-section .main-box .sec-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-section .main-box .sec-text h2 {
  line-height: 0.9;
  color: rgb(225, 225, 225);
  text-align: center;
  font-family: "Nova Square", sans-serif;
  font-size: 6rem;
}
.work-section .main-box .sec-text i {
  color: #c19a6b;
  font-size: 60px;
  scale: 0.9;
  transition: all 200ms ease-in-out;
}
.work-section .main-box .sec-text i:hover {
  transition: all 200ms ease-in-out;
  scale: 1;
}

.work-slider {
  width: 100%;
  position: relative;
  background-image: url("/gsap-slider-main/images/workbg-s.svg") !important;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.work-slider .main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.work-slider .main-text .page-info .page-path {
  color: rgba(225, 225, 225, 0.8);
}
.work-slider .main-text .page-info .page-path .a-one,
.work-slider .main-text .page-info .page-path .a-two {
  font-family: "Sen", sans-serif;
}
.work-slider .main-text .page-info .page-path .a-one a,
.work-slider .main-text .page-info .page-path .a-two a {
  text-decoration: none;
  color: inherit;
}
.work-slider .main-text .page-info .page-path .a-one a i,
.work-slider .main-text .page-info .page-path .a-two a i {
  font-size: 20px;
}
.work-slider .main-text .page-info .page-path .a-one:hover {
  color: #c19a6b !important;
}
.work-slider .main-text .page-info .page-title h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.work-slider .main-text span {
  font-family: "Nova Square", sans-serif;
  font-size: 8rem;
  color: rgb(225, 225, 225);
}
.work-slider .main-text span:nth-child(3) {
  font-size: 2rem;
  margin-left: 125px;
}
.work-slider .main-text span:nth-child(4) {
  margin-left: 250px;
}
@media (max-width: 767px) {
  .work-slider .main-text {
    left: 50%;
    font-size: 4rem;
  }
}
.work-slider .scrollContainer {
  overflow: hidden !important;
}
.work-slider .traditional-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}
.work-slider .traditional-wrap section.traditional {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  flex: 0 0 auto;
  transition: bottom 0.8s, opacity 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-slider .traditional-wrap section.traditional.traditional1 {
  z-index: 11;
}
.work-slider .traditional-wrap section.traditional.traditional2 {
  z-index: 12;
}
.work-slider .traditional-wrap section.traditional.traditional3 {
  z-index: 13;
}
.work-slider .traditional-wrap section.traditional.traditional4 {
  z-index: 14;
}
.work-slider .traditional-wrap section.traditional.traditional5 {
  z-index: 15;
}
.work-slider .traditional-wrap section.traditional.traditional6 {
  z-index: 16;
}
.work-slider .traditional-wrap section.traditional h3 {
  position: absolute;
  left: 0%;
  mix-blend-mode: difference;
  bottom: 0;
  z-index: 3;
  font-family: "Nova Square", sans-serif;
  font-size: 14rem;
  color: #616161;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  .work-slider .traditional-wrap section.traditional h3 {
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
  }
}
.work-slider .traditional-wrap section.traditional .overlay {
  background: rgba(0, 0, 0, 0.3);
}
.work-slider .traditional-wrap section.traditional img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  z-index: 2;
}

.contact-page {
  padding: 120px 0;
  color: rgb(225, 225, 225);
  background: #232323;
  font-family: "Sen", sans-serif;
}
.contact-page .page-info {
  padding-bottom: 120px;
}
.contact-page .page-info .page-path {
  color: rgba(225, 225, 225, 0.8);
}
.contact-page .page-info .page-path .a-one a,
.contact-page .page-info .page-path .a-two a {
  text-decoration: none;
  color: inherit;
}
.contact-page .page-info .page-path .a-one a i,
.contact-page .page-info .page-path .a-two a i {
  font-size: 20px;
}
.contact-page .page-info .page-path .a-one:hover {
  color: #c19a6b;
}
.contact-page .page-info .page-title h1 {
  font-size: 60px;
}
.contact-page .page-data {
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgba(234, 231, 220, 0.1);
}
.contact-page .page-data .contact-form {
  padding: 40px 30px;
}
.contact-page .page-data .contact-form .f-title,
.contact-page .page-data .contact-form .info-box .info-label {
  color: #c19a6b;
  font-size: 0.9rem;
}
.contact-page .page-data .contact-form .form-fields {
  margin-top: 40px;
}
.contact-page .page-data .contact-form .form-fields .i-name input,
.contact-page .page-data .contact-form .form-fields .i-name textarea,
.contact-page .page-data .contact-form .form-fields .i-mail input,
.contact-page .page-data .contact-form .form-fields .i-mail textarea,
.contact-page .page-data .contact-form .form-fields .i-phone input,
.contact-page .page-data .contact-form .form-fields .i-phone textarea,
.contact-page .page-data .contact-form .form-fields .i-message input,
.contact-page .page-data .contact-form .form-fields .i-message textarea {
  color: #c19a6b;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #232323;
  padding: 7px;
}
.contact-page .page-data .contact-form .form-fields .i-name input:focus,
.contact-page .page-data .contact-form .form-fields .i-name textarea:focus,
.contact-page .page-data .contact-form .form-fields .i-mail input:focus,
.contact-page .page-data .contact-form .form-fields .i-mail textarea:focus,
.contact-page .page-data .contact-form .form-fields .i-phone input:focus,
.contact-page .page-data .contact-form .form-fields .i-phone textarea:focus,
.contact-page .page-data .contact-form .form-fields .i-message input:focus,
.contact-page .page-data .contact-form .form-fields .i-message textarea:focus {
  outline: none;
}
.contact-page .page-data .contact-form .form-fields .i-button {
  margin-top: 20px;
}
.contact-page .page-data .contact-form .form-fields .i-button button {
  background: #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 40px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #c19a6b;
}
.contact-page .page-data .google-maps {
  height: 100%;
}
.contact-page .page-data .google-maps iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */