@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Sen:wght@400;500;600;700;800&display=swap");
$pri-blk: rgb(36, 36, 36);
$sec-blk: rgb(131, 131, 131);
$sec-whi: rgb(225, 225, 225);
$pri-whi: rgb(255, 255, 255);
$brown: #c19a6b;
$p-th-clr: #232323;
$s-th-clr: #eae7dc;
$nova: "Nova Square", sans-serif;
$sen: "Sen", sans-serif;
body {
  overflow-x: hidden;
  position: relative;

  height: unset;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@keyframes rotations {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(15deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(1.3);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}
@keyframes bottomtotop {
  0% {
    filter: drop-shadow(0 0 20px $brown);

    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  50% {
    filter: drop-shadow(0 0 -10px $brown);
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes movementtoright {
  from {
    margin-left: 20px;
  }
  to {
    margin-left: 0;
  }
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: touch;
}

.header {
  position: fixed;
  width: 100vw;
  top: 0%;

  backdrop-filter: blur(1);
  -webkit-backdrop-filter: blur(1);
  z-index: 999;
  font-family: $sen;
  .logo-wrapper {
    width: 100px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: scaleX(-1);
    }
  }
  .nav-link {
    a {
      position: relative;
      color: $sec-whi;
      text-shadow: 0 0 1px #6e6e6e;
  
      &::after {
        background: $sec-whi;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        bottom: -3px;
        transform-origin: 0% 100%;
        transition: all 0.35s;
        width: 15%;
        z-index: -1;
      }

      &:hover {
        color: $brown;
        transition: all 0.5s;

        &::after {
          background: $brown;
          width: 100%;
          transition: all 0.5s;
        }
      }
    }
  }
}
footer {
  padding-top: 50px;
  background: $p-th-clr;
  #icon-list {
    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $brown;
      color: $brown;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 2000ms cubic-bezier(.47,1.64,.41,.8);
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
      }
      &:hover{scale: .9;    
          border: 1px solid $p-th-clr;
        transition: all 200ms cubic-bezier(.47,1.64,.41,.8);
        background:$brown;
        i{
          color: $p-th-clr;
        }
      }
    }
  }
  .copyright {
    padding: 40px;
    text-align: center;
    font-size: 14px;
    color: rgba($color: $sec-whi, $alpha: 0.5);
    text-transform: capitalize;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
.page-info {
  padding-bottom: 120px;
  .page-path {
    color: rgba($sec-whi, 0.8);
    .a-one,
    .a-two {
      a {
        text-decoration: none;
        color: inherit;
        i {
          font-size: 20px;
        }
      }
    }
    .a-one {
      &:hover {
        color: $brown;
      }
    }
  }
  .page-title {
    h1 {
      font-size: 60px;
    }
  }
}
//html.index//
.hero-section {
  width: 100vw;
  padding: 150px 0;
  color: $sec-whi;
  background: $p-th-clr;
  position: relative;
  .svg-1 {
    position: absolute;
    bottom: 0;
    z-index: 5;
    left: 0;
    transform: translate(-50%, -50%);
    width: 300px;
    .social-icons {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: inherit;
      left: 70%;
      top: 50%;
      transform: translate(-50%, -50%);
      a {
        color: inherit;

        i {
          color: $p-th-clr;
          font-size: 24px;
          transition: all 300ms ease;
        }
        &:hover {
          .fa-instagram {
            transition: all 300ms ease;

            color: #e4405f;
          }
          .fa-github {
            transition: all 300ms ease;
            color: #211f1f;
          }
          .fa-linkedin-in {
            transition: all 300ms ease;
            color: #0e76a8;
          }
        }
      }
    }
  }
  .svg-2 {
    position: absolute;
    bottom: 0;
    z-index: 5;
    right: 0;
    transform: translate(50%, 50%);
    width: 300px;
  }
  .profile-page {
    width: 80%;
    margin: 0 auto;
    font-family: $sen;
    .display-pic {
      position: relative;
      z-index: 888;
      overflow: visible;
      margin-top: 50px;
      .img-holder {
        margin: 0 auto;
        overflow: hidden;
        width: 300px;
        height: 300px;
        background-color: #616161;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .pri-text {
      position: relative;
      &::after {
        content: ("");
        position: absolute;
        bottom: -20px;
        right: -150px;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #eae7dc;
      }
      h3 {
        margin-top: 0;
        margin-bottom: auto;
        font-family: $nova;
        font-weight: 400;
        text-align: start;
        font-size: 2.5rem;
        text-transform: uppercase;
        span {
          font-weight: 600;
          font-size: 3.5rem;
        }
      }
      @media (max-width: 767px) {
        h3 {
          text-align: center;
        }
        &::after {
          right: auto;
        }
      }
    }
    .sec-text {
      position: relative;
      &::before {
        content: ("");
        position: absolute;
        top: -20px;
        left: -150px;
        width: 100%;
        height: 2px;
        border-bottom: 1px dashed #eae7dc;
      }
      p {
        margin-top: 100%;
        margin-bottom: 0;
        font-weight: 400;
        text-align: end;
        font-size: 1rem;
        text-transform: uppercase;
        span {
          font-weight: 600;
          font-size: 3.5rem;
        }
      }
      @media (max-width: 767px) {
        p {
          text-align: center;
        }
        &::before {
          left: auto;
        }
      }
    }
  }
}
.cards-section {
  padding: 150px 0 100px 0;
  background: $p-th-clr;
  .cards-wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    .card {height: 250px;
      align-items: center;
      gap: 15px;
      border-radius: 0;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      background: $sec-blk;
      padding: 35px 10px 20px 10px;
      .card-icon {
        border-radius: 3px;
        width: 70px;
        height: 70px;
        color: $brown;
        border: 2px solid $brown;
        background-color: $sec-blk;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 26px;
        }
      }
      .card-text {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: $pri-blk;
        position: relative;
        &::after {
          content: ("");
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 30%;
          height: 2px;
          background-color: $pri-blk;
          transition: all 250ms ease-in-out;
        }
      }
      .card-more {
        scale: 0;
        margin-top: 10px;
        transition: all 300ms ease-in-out;
        i {
          font-size: 20px;
        }
      }
      &:hover {
        background: $brown;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        .card-icon {
          color: $sec-blk;
          background-color: $brown;
          border-color: $sec-blk;
        }
        .card-text::after {
          width: 70%;
          transition: all 300ms ease-in-out;
        }
        .card-more {
          scale: 1;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }
}
.work-section {
  width: 100%;
  background-color: $p-th-clr;
  .main-box {
    width: 100%;
    height: 100%;
    position: relative;
    .img-holder {
      width: 100%;
      height: 500px;
      .image-bg-work {
        width: 100%;
        height: 100%;
        .svg-3 {
          width: 70%;
          height: 100%;
          margin: 0 auto;
          img {
            animation: rotations 4s linear infinite;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .img-overlay {
        border-radius: 5px;
        position: absolute;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        background-color: rgba(#424242, 0.5);
      }
    }
    .sec-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        line-height: 0.9;
        color: $sec-whi;
        text-align: center;
        font-family: $nova;
        font-size: 6rem;
      }
      i {
        color: $brown;
        font-size: 60px;
        scale: 0.9;
        transition: all 200ms ease-in-out;
        &:hover {
          transition: all 200ms ease-in-out;
          scale: 1;
        }
      }
    }
  }
}
//html.index//

//html.work//
.work-slider {
  background: $p-th-clr;
  padding-top: 100px;
  position: relative;
  color: $sec-whi;
  font-family: $nova;
  .slide-container {
    .intro {
      .intro_content {
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        .intro_image {
          width: 60%;
          position: relative;
          .image-wrap2 {
            position: absolute;
            top: 30%;
            left: 50px;
            transform: translateY(-50%);
            z-index: 10;
            width: 300px;
            height: 450px;
            .intro-img2 {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .image-wrap1 {
            position: absolute;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
            width: 350px;
            height: 450px;
            z-index: 20;
            .intro-img1 {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .intro_data {
          width: 50%;
          position: relative;
          z-index: 30;
          .title {
            position: absolute;
            right: 10vw;
            h2 {
              letter-spacing: -2vw;
              font-size: 22vw;
            }
          }
          .details {
            position: absolute;
            bottom: 20%;
            right: 0;
            p {
              font-family: $sen;
              font-size: 18px;
            }
          }
        }
      }
    }
    .slide {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .slide_image {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: 1;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
      }
      .slide_data {
        width: 50%;
        position: absolute;
        left: 0;
        z-index: 30;
        .title {
          margin-left: 50px;
          h2 {
            
            line-height: 0.8;
            letter-spacing: -2vw;
            font-size: 18vw;
            .project-name{
              text-transform: capitalize;
            }
          }
        }

        .details {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: 50px;

          p {
            width: 75%;
            font-family: $sen;
            font-size: 16px;
          }
          a.slide-button {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 10px;
            color: inherit;
            &:hover {
              .square .flexi-line {
                left: 100%;
                transform: translate(-50%, -50%) scaleX(0.4);
                transition: 600ms all ease-out;
              }
              .h-text {
                transition: 600ms all ease-out;
                opacity: 1;
              }
            }
            .h-text {
              opacity: 0;
              transition: 300ms all ease-in;
            }
            .square {
              position: relative;
              display: block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 1px solid $pri-whi;
              .flexi-line {
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(-50%, -50%);
                display: block;
                width: 60px;
                height: 2px;
                background: $pri-whi;
                transition: 300ms all ease-in;
              }
            }
          }
        }
      }
    }
    .slide--1 .slide_image {
      background-image: url("../images/gal07.jpg");
    }
    .slide--2 .slide_image {
      background-image: url("../images/gal10.jpg");
    }
    .slide--3 .slide_image {
      background-image: url("../images/gal09.jpg");
    }
    .slide--4 .slide_image {
      background-image: url("../images/gal08.jpg");
    }
    .slide--5 .slide_image {
      background-image: url("../images/gal01.jpg");
    }
  }
}

//html.work//

//html.contact//
.contact-page {
  padding: 120px 0;
  color: $sec-whi;
  background: $p-th-clr;
  font-family: $sen;

  .page-data {
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgba($s-th-clr, 0.1);
    .contact-form {
      padding: 40px 30px;
      .f-title,
      .info-box .info-label {
        color: $brown;
        font-size: 0.9rem;
      }
      .form-fields {
        margin-top: 40px;
        .i-name,
        .i-mail,
        .i-phone,
        .i-message {
          input,
          textarea {
            color: $brown;
            background: none;
            width: 100%;
            border: none;
            border-bottom: 1px solid $p-th-clr;
            padding: 7px;
            &:focus {
              outline: none;
            }
          }
        }
        .i-button {
          margin-top: 20px;
          button {
            background: $p-th-clr;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            padding: 10px 40px;
            border: 2px solid $p-th-clr;

            text-transform: uppercase;
            font-weight: 700;
            color: $brown;
            transition: 200ms all ease-in-out;
            &:hover {
              transition: 200ms all ease-in-out;
              background: transparent;
              border: 2px solid $brown;
            }
          }
        }
      }
    }
    .google-maps {
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
//html.contact//

//html.about//
.about-page {
  padding: 120px 0;
  color: $sec-whi;
  background: $p-th-clr;
  font-family: $sen;

  .page-data {
    position: relative;
    .about-hero-image {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      .img-wrapper {
        width: 300px;
        margin: 0 auto;
        height: 450px;
        rotate: 8deg;
        animation: bottomtotop 2s ease;
        img {
          filter: brightness(50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .user-info {
      scale: 0.9;
      padding-top: 50px;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      span.divider-line {
        width: 100%;
        border-bottom: 1px solid #424242;
        display: block;
        margin: 40px 0;
      }
      .details {
        h4 {
          margin-bottom: 15px;
          font-size: 28px;
          font-family: $nova;
          text-transform: capitalize;
        }
        ul {
          padding: 0;
          margin: 0;
          text-transform: capitalize;
          list-style-type: none;
        }
      }
    }
  }
}

//html.about//

@media (max-width: 767px) {
  .header {
    .logo-wrapper {
      width: 100px;
      height: 70px;
    }
    .nav-link {
      a {
        &::after {
          left: 50%;
          right: auto;
          transform: translateX(-50%);
          bottom: -2px;
          width: 15%;
        }
      }
    }
  }
  footer {
    #icon-list {
      a {
        width: 35px;
        height: 35px;

        i {
          font-size: 14px;
        }
      }
    }
    .copyright {
      font-size: 12px;
    }
  }
  .work-section {
    .main-box {
      .img-holder {
        .image-bg-work {
          .svg-3 {
            img {
              animation: rotations 5s linear infinite;
            }
          }
        }
        .img-overlay {
          z-index: 6;
          background-color: rgba(#424242, 0.5);
        }
      }
      .sec-text {
        top: 50%;

        z-index: 15;

        h2 {
          line-height: 1;
          font-size: 4rem;
        }
      }
    }
  }
  .hero-section {
    .svg-1 {
      bottom: 20%;
      width: 200px;
    }
    .svg-2 {
      width: 200px;
    }
    .profile-page {
      .display-pic {
        margin-top: 0;
      }
      .pri-text {
        margin-bottom: 40px;
      }
      .sec-text {
        margin-top: 40px;
      }
    }
  }
  .page-info {
    padding: 60px 0 !important;
    .page-path {
      .a-one,
      .a-two {
        a {
          font-size: 13px;
          i {
            font-size: 16px;
          }
        }
      }
      .a-one {
        &:hover {
          color: $brown;
        }
      }
    }
  }
  .contact-page {
    .page-data {
      .google-maps {
        height: 300px;
      }
    }
  }
  .work-slider {
    .slide-container {
      .intro {
        .intro_content {
          height: fit-content;
          flex-direction: column;

          .intro_image {
            width: 100%;
            position: relative;
            .image-wrap2 {
              position: inherit;

              left: 35%;
              bottom: -350px;
              transform: translate(-50%, -50%);
            }
            .image-wrap1 {
              position: absolute;
              top: 50%;
              left: 65%;
              transform: translate(-50%, -50%);
              width: 350px;
              height: 450px;
              z-index: 20;
            }
          }
          .intro_data {
            width: 100%;

            .title {
              position: static;

              h2 {
                text-shadow: 1px 2px 5px #6e6e6e;
              }
            }
            .details {
              position: static;
            }
          }
        }
      }
      .slide {
        .slide_image {
          width: 100%;
          left: 0;
          right: 0;
        }
        .slide_data {
          width: 80%;
          height: 100%;
          padding: 40px;
          background-color: rgba($color: $p-th-clr, $alpha: 0.5);
          .title {
padding-top: 100px;
            margin-left: 0px;
            h2 {
              text-shadow: 1px 2px 5px #424242;
              line-height: 0.8;
              letter-spacing: -2vw;
              font-size: 18vw;
            }
          }

          .details {
            align-items: start;
            flex-direction: column;
            gap: 0px;
            justify-content: space-between;
            p {
              width: 100%;
              font-family: $sen;
              font-size: 16px;
            }
            a.slide-button {
              display: flex;
              align-items: center;
              text-decoration: none;
              gap: 10px;

              color: inherit;

              .h-text {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
